@mixin misc {
    .divider {
        background-color: rgba(color('grey', 'darken-3'), .5);
    }

    // Badges
    span.badge {
        &.new {
            background-color: color('grey', 'darken-2');
        }
    }

    // Cards
    .card,
    .card-panel {
        background-color: color('grey', 'darken-4');
    }

    // Collapsibles
    .collapsible {
        &:not(.popout) {
            border-top: 1px solid color('grey', 'darken-3');
            border-right: 1px solid color('grey', 'darken-3');
            border-left: 1px solid color('grey', 'darken-3');
        }

        .collapsible-header {
            background-color: color('grey', 'darken-4');
            border-bottom: 1px solid color('grey', 'darken-3');
        }

        .collapsible-body {
            border-bottom: 1px solid color('grey', 'darken-3');
        }

        &.popout {
            li.active {
                border: 1px solid color('grey', 'darken-1');
            }
        }
    }

    // Collections
    .collection {
        border: 1px solid color('grey', 'darken-3');

        .collection-item {
            background-color: color('grey', 'darken-4');
            border-bottom: 1px solid color('grey', 'darken-3');

            &.avatar i.circle {
                background-color: color('grey', 'darken-3');
            }
        }

        a {
            &:not(.secondary-content) {
                color: var(--primary-color-light);
            }

            &.collection-item:not(.active):hover {
                background-color: color('grey', 'darken-3');
            }

            &.active {
                background-color: var(--primary-color);
                color: #FFF;
            }
        }

        &.with-header {
            .collection-header {
                background-color: color('grey', 'darken-4');
                border-bottom: 1px solid color('grey', 'base');
            }
        }
    }

    // Tabs
    .tabs {
        background-color: color('grey', 'darken-4');

        .tab {
            a {
                color: color('grey', 'lighten-1');

                &:hover {
                    color: color('grey', 'lighten-3');
                }

                &.active {
                    color: color('grey', 'lighten-4');
                }
            }

            &.disabled {

                a,
                a:hover {
                    color: color('grey', 'darken-2');
                }
            }
        }

        .indicator {
            background-color: var(--primary-color);
        }
    }

    // Carousel
    .carousel {
        .carousel-item {
            &.active {
                img {
                    opacity: 1; //set active image to not transparent
                }
            }
        }
    }

    // Slider
    .slider {
        .indicators {
            .indicator-item {
                background-color: color('grey', 'darken-2');

                &.active {
                    background-color: color('grey', 'lighten-4');
                }
            }
        }
    }

    // Images
    img {
        &:not(.remove-dark-mode) {
            opacity: 0.8; //adjust images to darker
        }

        // Broken Images
        font-size: 12px;

        &:before {
            color: #efefef;
            background-color: #000;
        }

        &:after {
            color: #efefef;
        }
    }

    // Dropdowns
    .dropdown-content {
        background-color: color('grey', 'darken-4');

        li {

            a,
            span {
                color: #FFF;
            }
        }

        &.select-dropdown {
            li {
                &:hover {
                    background-color: lighten(color('grey', 'darken-4'), 5%);
                }

                &.optgroup {
                    border-top-color: rgba(color('grey', 'darken-3'), .5);

                    >span {
                        color: rgba($color: #FFF, $alpha: .7);
                    }
                }

                &.selected {
                    background-color: lighten(color('grey', 'darken-4'), 10%);

                    label span {

                        &:before,
                        &:after {
                            border-right: 2px solid #FFF;
                            border-bottom: 2px solid #FFF;
                        }
                    }
                }

                &.disabled {
                    background-color: lighten(color('grey', 'darken-4'), 5%);
                    opacity: 0.7;

                    span {
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }

            &.blur-bg {
                background-color: rgba(50, 50, 50, 0.8);

                &.acrylic {
                    background-image: $acrylic-background-ondark;
                }

                li {
                    &.disabled {
                        background-color: rgba(255, 255, 255, 0.05);
                        opacity: 0.5;
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.05);
                    }

                    &.selected {
                        background-color: rgba(255, 255, 255, 0.10);
                    }
                }
            }
        }

        &:not(.select-dropdown) {
            li {
                &:hover {
                    background-color: lighten(color('grey', 'darken-4'), 5%);
                }

                &.active {
                    background-color: lighten(color('grey', 'darken-4'), 10%);
                }

                &.disabled {
                    background-color: lighten(color('grey', 'darken-4'), 5%);
                    opacity: 0.7;
                }
            }

            &.blur-bg {
                background-color: rgba(50, 50, 50, 0.8);

                &.acrylic {
                    background-image: $acrylic-background-ondark;
                }

                li {
                    &.disabled {
                        background-color: rgba(255, 255, 255, 0.05);
                        opacity: 0.5;
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.05);
                    }

                    &.active {
                        background-color: rgba(255, 255, 255, 0.10);
                    }
                }
            }
        }
    }

    // Progress Preloader
    .progress {
        background-color: var(--secondary-color-darken-25);

        .determinate,
        .indeterminate {
            background-color: var(--secondary-color-lighten-10);
        }

        &.primary {
            background-color: var(--primary-color-darken-25);

            .determinate,
            .indeterminate {
                background-color: var(--primary-color-lighten-10);
            }
        }
    }

    // Paginations
    .pagination {
        li {
            a {
                color: color('grey', 'lighten-4');
            }

            &.disabled {
                a {
                    color: color('grey', 'darken-3');
                }
            }
        }
    }

    // Tables
    table {
        th {
            color: #FFF;
        }

        tr {
            border-bottom: 1px solid color('grey', 'darken-3');
        }

        &.striped {
            tbody tr {
                border-bottom: unset;

                &:nth-child(odd) {
                    background-color: color('grey', 'darken-4');
                }
            }
        }

        &.highlight {
            tbody>tr:hover {
                background-color: #313131;
            }
        }

        &.sticky {
            tr.sticky-header {
                th {
                    background-color: color('grey', 'darken-4');
                }

                &.blur-bg {
                    th {
                        background-color: rgba(color('grey', 'darken-4'), 0.8);
                    }

                    &.acrylic th {
                        background-image: $acrylic-background-ondark;
                    }
                }
            }
        }
    }

    // Table of contents 
    .table-of-contents {
        a {
            color: rgba(255, 255, 255, .55);

            &:hover {
                color: rgba(255, 255, 255, .8);
            }

            &.active {
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    // Toasts and tooltips
    .toast,
    .material-tooltip {
        background-color: rgb(200, 200, 200);
        color: #000;
        font-weight: 500;

        &.blur-bg {
            background-color: rgba(255, 255, 255, 0.6);

            &.acrylic {
                background-image: $acrylic-background-ondark;
            }
        }
    }

    // Feature discovery
    .tap-target {
        &.blur-bg.acrylic {
            background-image: $acrylic-background-ondark;
        }
    }

    .tap-target-wave::before,
    .tap-target-wave::after {
        background-color: #000;
    }

    // Page footer
    .page-footer {
        background-color: color('grey', 'darken-4');
    }


    /* Shadows */
    @for $i from 1 to 6 {
        .z-depth-#{$i} {
            box-shadow: unset;
        }
    }

    .z-depth-1:not(.ondark-z-depth-0),
    .z-depth-1-half:not(.ondark-z-depth-0) {
        background-color: #1D1B20;
    }

    .z-depth-2:not(.ondark-z-depth-0) {
        background-color: #211F26;
    }

    .z-depth-3:not(.ondark-z-depth-0),
    .z-depth-4:not(.ondark-z-depth-0) {
        background-color: #2B2930;
    }

    .z-depth-5:not(.ondark-z-depth-0),
    .z-depth-6:not(.ondark-z-depth-0) {
        background-color: #36343B;
    }

    .hoverable {
        background-color: #3b3941;
    }

    .ondark-z-depth-0 {
        box-shadow: unset;
    }

    // @each $zDepth,
    // $level in $shadowLevels {
    //     .z-depth-#{$level}-primary {
    //         box-shadow: coloredShadow($zDepth, (var(--primary-color-hs), calc(var(--primary-color-l) - 5%)), false);
    //     }
    // }

    // .primary-hoverable {
    //     transition: box-shadow .25s;

    //     &:hover {
    //         box-shadow: coloredShadow(hover, (var(--primary-color-hs), calc(var(--primary-color-l) - 5%)), false);
    //     }
    // }

    // @each $zDepth,
    // $level in $shadowLevels {
    //     .z-depth-#{$level}-secondary {
    //         box-shadow: coloredShadow($zDepth, (var(--secondary-color-hs), calc(var(--secondary-color-l) - 5%)), false);
    //     }
    // }

    // .secondary-hoverable {
    //     transition: box-shadow .25s;

    //     &:hover {
    //         box-shadow: coloredShadow(hover, (var(--secondary-color-hs), calc(var(--secondary-color-l) - 5%)), false);
    //     }
    // }

    // @each $sP in $semanticPurposes {

    //     @each $zDepth,
    //     $level in $shadowLevels {
    //         .z-depth-#{$level}-#{$sP} {
    //             box-shadow: coloredShadow($zDepth, darken(semanticColorLookUp($sP), 5%));
    //         }
    //     }

    //     .#{$sP}-hoverable {
    //         transition: box-shadow .25s;

    //         &:hover {
    //             box-shadow: coloredShadow(hover, darken(semanticColorLookUp($sP), 5%));
    //         }
    //     }
    // }

    // Waves effect
    .waves-effect {

        &:not(.waves-red),
        &:not(.waves-yellow),
        &:not(.waves-orange),
        &:not(.waves-purple),
        &:not(.waves-green),
        &:not(.waves-teal) {
            &.waves-ripple {
                background: rgba(255, 255, 255, 0.4);
                $gradient: rgba(255, 255, 255, 0.2) 0,
                rgba(255, 255, 255, .3) 40%,
                rgba(255, 255, 255, .4) 50%,
                rgba(255, 255, 255, .5) 60%,
                rgba(255, 255, 255, 0) 70%;
                background: -webkit-radial-gradient($gradient);
                background: -o-radial-gradient($gradient);
                background: -moz-radial-gradient($gradient);
                background: radial-gradient($gradient);
            }
        }
    }
}