@mixin navigations {

    // Navigations
    nav {
        background-color: darken(color('grey', 'darken-4'), 1%);

        &.blur-bg {
            background-color: rgba(#000000, 0.7);

            &.acrylic {
                background-image: $acrylic-background-ondark;
            }
        }

        ul {
            li {
                &.active {
                    background-color: var(--primary-color-dark);
                }

                a:not(.brand-logo) {
                    color: #FFF;

                    &:hover {
                        background-color: lighten(color('grey', 'darken-4'), 5%);
                    }
                }
            }
        }

        .brand-logo {
            img {
                opacity: 1;
            }
        }

        &.breadcrumbs {

            .segment {
                color: rgba(255, 255, 255, 0.5);

                &:before {
                    color: rgba(255, 255, 255, 0.5);
                }

                &:last-child,
                &:last-child::before {
                    color: var(--primary-color-lighten-10);
                }
            }

            &.flat {
                background-color: transparent;

                .segment {
                    color: rgba(255, 255, 255, .5);

                    &:before {
                        color: rgba(255, 255, 255, .5);
                    }

                    &:last-child,
                    &:last-child::before {
                        color: var(--primary-color-lighten-10);
                    }
                }
            }
        }
    }

    // Side navigations
    .sidenav {
        background-color: color('grey', 'darken-4');

        &.blur-bg {
            background-color: rgba(color('grey', 'darken-4'), .5);

            &.acrylic {
                background-image: $acrylic-background-ondark;
            }
        }

        li {
            >a {

                >i,
                &:not(.subheader) {
                    color: #FFF;
                }

                > {

                    .icon,
                    #{$icon-brand-selectors} {
                        color: #FFF;
                    }
                }

                &.subheader {
                    color: var(--primary-color-light);
                }

                &:hover {
                    background-color: lighten(color('grey', 'darken-4'), 5%);
                }
            }

            &.active {
                background-color: rgba(255, 255, 255, .05);
                ;

                >a:hover {
                    background-color: transparent;
                }
            }
        }

        .collapsible {
            border: unset;

            .collapsible-header {
                border: unset;

                &:hover {
                    background-color: lighten(color('grey', 'darken-4'), 5%);
                }
            }

            .collapsible-body {
                border: unset;
                background-color: lighten(color('grey', 'darken-4'), 2%);
            }
        }

        &.md3 {
            li {
                .subheader {
                    color: var(--primary-color-lighten-40);
                }

                >a {
                    color: var(--primary-color-lighten-40);

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.05);
                    }

                    &:focus,
                    &:active {
                        background-color: rgba(255, 255, 255, 0.1);
                    }

                    >i,
                    &:not(.subheader) {
                        color: var(--primary-color-lighten-40);
                    }

                    > {

                        .icon,
                        #{$icon-brand-selectors} {
                            color: var(--primary-color-lighten-40);
                        }
                    }

                    &.subheader {
                        color: var(--primary-color-lighten-40);
                    }

                    span.badge {
                        color: rgba($color: #FFF, $alpha: 0.5);
                    }
                }

                &.active {
                    background-color: unset;

                    >a {
                        background-color: hsla(var(--primary-color-hsl), 0.2);

                        &:hover {
                            background-color: var(--primary-color-darken-25);
                        }

                        &:focus,
                        &:active {
                            background-color: hsla(var(--primary-color-hsl), 0.15);
                        }
                    }
                }

                &.title {

                    a,
                    span {
                        color: var(--primary-color-lighten-30);
                    }

                    &.active a {
                        background-color: unset;
                    }

                    a {

                        &:hover,
                        &:focus,
                        &:active {
                            background-color: unset;
                        }
                    }
                }
            }
        }
    }
}