@mixin icon-sizes {
  font-size: 24px;

  &.s18 {
    font-size: 18px;
  }

  &.s24 {
    font-size: 24px;
  }

  &.s36 {
    font-size: 36px;
  }

  &.s48 {
    font-size: 48px;
  }

  &.tiny {
    font-size: 1rem;
  }

  &.small {
    font-size: 2rem;
  }

  &.medium {
    font-size: 4rem;
  }

  &.large {
    font-size: 6rem;
  }
}

// Prevent emojis from being italic
i.icon {
  font-style: normal;
}

.material-icons,
.material-icons-two-one,
.material-icons-outlined,
.material-icons-round,
.material-icons-sharp,
.material-symbols-sharp,
.material-symbols-rounded,
.material-symbols-outlined {
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

// default, any icon
.icon,
// FontAwesome Support
.fa,
.fa-duotone,
.fa-light,
.fa-regular,
.fa-solid,
.fa-thin,
.fa-sharp,
.fa-brands,
// Material Icons Support
.material-icons,
.material-icons-two-one,
.material-icons-outlined,
.material-icons-round,
.material-icons-sharp,
.material-symbols-sharp,
.material-symbols-rounded,
.material-symbols-outlined {
  @include icon-sizes;
}