.modal {
    &:focus {
        outline: none;
    }

    @extend .z-depth-5;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 10px;
    will-change: top,
    opacity;

    @media #{$medium-and-down} {
        width: 80%;
    }

    h1,
    h2,
    h3,
    h4 {
        margin-top: 0;
    }

    .modal-content {
        padding: 24px;
        overflow-y: hidden;
    }

    .modal-close {
        cursor: pointer;
    }

    .modal-footer {
        border-radius: 0 0 10px 10px;
        background-color: #fafafa;
        padding: 4px 6px;
        height: 56px;
        width: 100%;
        text-align: right;

        .btn,
        .btn-flat {
            margin: 6px 0;
        }
    }

    .modal-header {
        border-radius: 10px 10px 0 0;
        padding: 10px 24px;
        height: 70px;
        width: 100%;
        font-weight: 500;
        font-size: 2em;
        background-color: #fafafa;
    }

    &.blur-bg {
        background: rgba(255, 255, 255, .7);
        backdrop-filter: blur(7px);

        &.acrylic {
            background-image: $acrylic-background;
        }

        .modal-header,
        .modal-footer {
            background: rgba(255, 255, 255, .5);
        }
    }

    &.outlined {
        border: 2px solid var(--secondary-color);

        &.primary {
            border-color: var(--primary-color);
        }

        &.success {
            border-color: $success-color;
        }

        &.info {
            border-color: $info-color;
        }

        &.danger {
            border-color: $danger-color;
        }

        &.warning {
            border-color: $warning-color;
        }
    }
}

.modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    display: none;
    will-change: opacity;

    &.blur-overlay {
        background: rgba(0, 0, 0, .5);
        backdrop-filter: blur(2px);
    }
}

// Modal with fixed action footer
.modal.modal-fixed-footer {
    padding: 0;
    height: 70%;

    .modal-content {
        position: absolute;
        height: calc(100% - 56px);
        max-height: 100%;
        width: 100%;
        overflow-y: auto;
    }

    .modal-footer {
        border-top: 1px solid rgba(0, 0, 0, .1);
        position: absolute;
        bottom: 0;
    }
}

// Modal with fixed header
.modal.modal-fixed-header {
    padding: 0;
    height: 70%;

    .modal-header {
        position: absolute;
        z-index: 1;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .modal-content {
        position: absolute;
        padding: 0 24px;
        top: 71px;
        height: calc(100% - 71px);
        max-height: 100%;
        width: 100%;
        overflow-y: auto;
    }
}

.modal.modal-fixed-footer.modal.modal-fixed-header {
    .modal-content {
        height: calc(100% - 71px - 56px);
    }
}

// Modal Bottom Sheet Style
.modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: 55%;
    max-height: 70%;
    border-radius: unset;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    will-change: bottom, opacity;

    &.outlined {
        border-bottom: unset;
    }

    @media #{$medium-and-down} {
        width: 80%;
    }

    @media #{$small-and-down} {
        width: 100%;

        &.outlined {
            border-left: unset;
            border-right: unset;
        }
    }

}