$tree-line: #f2f2f2;
$tree-line-hover: #d9d9d9;
$tree-span-hover: rgba(0, 0, 0, .15);
$tree-span-child-hover: rgba(0, 0, 0, .1);
$ident: 20px;
$left: -($ident);

.tree {
    padding: 1rem;

    ul.branch,
    ul.branches {
        margin-left: $ident;
    }

    >.root,
    .branch>li span,
    .branches>li span,
    .branch>li a,
    .branches>li a {
        display: inline-block;
        padding: 7px 16px;
        text-decoration: none;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, .05);

        &.active {
            background-color: $secondary-color;
            color: #FFF;
        }

        &.disabled {
            background-color: rgba(0, 0, 0, .03);
            color: rgba(0, 0, 0, .5);
        }
    }

    .branch>li a,
    .branches>li a  {

        &.active,
        &.disabled {
            cursor: default;
        }
    }

    &.block {

        >.root,
        .branch>li span,
        .branches>li span,
        .branch>li a,
        .branches>li a {
            display: block;
        }
    }

    &.outlined {

        >.root,
        .branch>li span,
        .branches>li span,
        .branch>li a,
        .branches>li a {
            background-color: unset;
            border: 2px solid $tree-line;

            &.active {
                border-color: $secondary-color;
                color: $secondary-color;
            }

            &.disabled {
                border-color: rgba(0, 0, 0, .03);
                color: rgba(0, 0, 0, .5);
            }
        }
    }

    .branch>li,
    .branches>li {
        list-style-type: none;
        margin: 10px 0 10px 10px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: -10px;
            left: $left;
            border-left: 2px solid $tree-line;
            border-bottom: 2px solid $tree-line;
            width: $ident;
            height: 15px;
        }

        &:after {
            position: absolute;
            content: "";
            top: 5px;
            left: $left;
            border-left: 2px solid $tree-line;
            border-top: 2px solid $tree-line;
            width: $ident;
            height: 100%;
        }

        &:last-child:before {
            border-bottom-left-radius: 5px;
        }

        &:last-child:after {
            display: none;
        }
    }

    .branches,
    .branch {
        margin-top: 0;

        >li {
            list-style-type: none;
            margin: 10px 0 10px 10px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: -10px;
                left: $left;
                border-left: 2px solid $tree-line;
                border-bottom: 2px solid $tree-line;
                width: $ident;
                height: 30px;
            }

            &:after {
                position: absolute;
                content: "";
                top: 5px;
                left: $left;
                border-left: 2px solid $tree-line;
                border-top: unset;
                width: $ident;
                height: 100%;
            }

            &:last-child:before {
                border-bottom-left-radius: 5px;
            }

            &:last-child:after {
                display: none;
            }
        }
    }

    .branches .branch>li:first-child {
        margin-top: 5px;
    }

    .branch>li span,
    .branches>li span,
    .branch>li a,
    .branches>li a,
    >.root {

        &:not(.active):not(.disabled) {

            &:hover,
            &:focus {
                background-color: $tree-span-hover;

                &+.branch {
                    >li span,
                    >li a {
                        &:not(.active):not(.disabled) {
                            background-color: $tree-span-child-hover;
                        }
                    }
                }
            }
        }

        &:hover+.branch,
        &:focus+.branch {
            >li {
                &:after,
                &:before {
                    border-color: $tree-line-hover;
                }
            }
        }
    }

    &.outlined {

        >.root,
        .branch>li span,
        .branches>li span,
        .branch>li a,
        .branches>li a {
            &:not(.active):not(.disabled) {
                &:hover,
                &:focus {
                    background-color: unset;
                    border-color: $tree-line-hover;

                    &+.branch {
                        >li span,
                        >li a {
                            &:not(.active):not(.disabled) {
                                background-color: unset;
                                border-color: $tree-line-hover;
                            }
                        }
                    }
                }
            }
        }
    }
}