- var no_nav = false
- var page = "Dark Mode"

doctype html
html(lang="en" class="dark-mode")
  head
    include _head.pug
  body
    include _navbar.pug
    main
      include page-contents/dark-mode_content.html
    include _footer.html
    include _scripts.html
