- var no_nav = false
- var page = "Staggered Cards"

doctype html
html(lang="en")
  head
    include _head.pug
  body
    include _navbar.pug
    main
      include page-contents/staggered_cards_content.html
    include _footer.html
    include _scripts.html
    script(src="extras/lazyload/lazyload.min.js")
