- var no_nav = false
- var page = "Tree View"

doctype html
html(lang="en")
  head
    include _head.pug
  body
    include _navbar.pug
    main
      include page-contents/tree_content.html
    include _footer.html
    include _scripts.html
